.blurBubbleBackground {
  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    var(--mantine-color-moss-green-6) 0deg,
    var(--mantine-color-soft-lime-4) 55deg,
    var(--mantine-color-deep-teal-6) 120deg,
    var(--mantine-color-navy-steel-6) 160deg,
    transparent 360deg
  );

  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    var(--mantine-color-moss-green-4) 0deg,
    var(--mantine-color-soft-lime-4) 55deg,
    var(--mantine-color-deep-teal-8) 120deg,
    var(--mantine-color-navy-steel-8) 160deg,
    transparent 360deg
  );
}

.blurBubbleBackground::before,
.blurBubbleBackground::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.blurBubbleBackground::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter: blur(90px);
  top: calc(50vh - 50vw / 2);
  left: calc(50vw);
}

.blurBubbleBackground::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter: blur(90px);
  top: calc(50vh - 50vw / 2);
  left: calc(50vw - 50vw / 2);
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);
  }
  100% {
    transform: translateX(0);
  }
}

.blurBubbleBackground::before {
  /*...previous props*/
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.blurBubbleBackground::after {
  /*...previous props*/
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}
